
html, body{
    width:100%;
    height:100%;
    line-height:0;
}
#instructions{
    display:flex;
}
#instructions p{
    margin-right:20px;
}
#numbers{
    display:flex;
}
#numbers p{
    margin-right:20px;
}
#clickable {
    display:block;
    position:relative;
    margin: 10% 0 0 10%;
    border-radius: 0%;
    width: 20vw;
    height: 20vw;
    background-color: blue;
}
#allTime{
    display:flex;
}
#allTime p{
    margin-right: 20px;
}
