
html, body{
    width:100%;
    height:100%;
    line-height:1;
    display:flex;
    flex-direction:column;
}
#instructions{
    display:flex;
    flex-flow:row wrap;
    flex: 0 0 auto;

}
#instructions p{
    margin:0 0 5px 0;

}
#numbers{
    display:flex;
    flex: 0 0 auto;
    flex-flow:row wrap;
    align-items:flex-start;
}
#numbers p{
    margin:0 20px 5px 0 ;
 
}
#clickable {
    display:block;
    position:relative;
    margin: 10% 0 0 10%;
    border-radius: 0%;
    width: 20vw;
    height: 20vw;
    background-color: blue;
}
#allTime{
    display:flex;
    flex: 0 0 auto;
    margin-bottom:2px;
    flex-flow:row wrap;
    
}
#allTime p{
    margin: 0 20px 5px 0;

}
#settings{
    display:flex;
    flex: 0 0 auto;
    flex-flow:row wrap;
    align-items:flex-start;
}

#playspace{

    flex: 3 0 0;
}
#topblock{
    display:flex;
    flex-flow:column wrap;
    flex: 1 0 0;
}
#settings p{
    margin: 0 20px 5px 0;

}
#settings div{
    display:flex;
    align-items:flex-start;
    flex-flow:row wrap;
    flex: 0 0 auto;
}